<!DOCTYPE>

<html>

<head>
<% include head.ejs %>
<title><%= title %></title>
<link href="/views/css/pinterest.css" rel="stylesheet">
</head>

<body>

<div class="container">
	<h1><%= website_name %></h1>
	<div class="row">
        <a href="person?name=柯文哲">
            <div class="item well">
                <img src="/views/image/kerker.jpg" class="item">
                <p>柯文哲</p>
            </div>
        </a>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reiciendis ipsum laborum ab enim perspiciatis nesciunt earum fugiat veniam, asperiores cumque fugit maiores quisquam ullam necessitatibus id rem illum. Sit.</p>
		</div>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cupiditate consectetur reprehenderit voluptatum fugiat, temporibus mollitia dolorem, incidunt rem aperiam, saepe nobis ad fugit officia suscipit commodi dolores inventore reiciendis.Lorem	ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad sequi odit vel asperiores provident, laborum quam rerum odio iste quia, animi, ratione ab nam facilis tenetur, quod repellat voluptatibus.</p>
		</div>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae cupiditate consectetur reprehenderit voluptatum fugiat</p>
		</div>
		<div class="item well">
			<p>temporibus mollitia dolorem, incidunt rem aperiam, saepe nobis ad fugit officia suscipit commodi dolores inventore reiciendis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad sequi odit vel asperiores provident, laborum quam rerum
			odio iste quia, animi, ratione ab nam facilis tenetur, quod repellat voluptatibus.</p>
		</div>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quod, beatae natus reiciendis a, vero deserunt sed voluptatibus harum quia odio nobis enim qui libero minus iusto atque labore esse!</p>
		</div>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptates error sequi ducimus aperiam! Tempore quos, perferendis aperiam omnis mollitia est vero, ullam ratione eum, laboriosam nisi dolorum ut autem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus dicta aperiam vel aut, eaque ipsam adipisci magni laudantium molestiae fugit dolor rem iusto modi ratione deleniti ex, nulla libero quis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quasi sint eaque, asperiores, nam odio laboriosam tempore cum ad maiores accusantium animi reprehenderit labore expedita. Alias dolorum non, pariatur commodi.</p>
		</div>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio reiciendis est hic, quas, quibusdam neque debitis reprehenderit, beatae cupiditate, accusantium consequatur incidunt. Harum ipsam nisi porro veniam. Magnam, autem, maiores!</p>
		</div>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aliquid repellendus laborum aspernatur nobis. Consequatur velit quibusdam suscipit aut fugiat beatae, tempora eum non libero maiores reiciendis, quas ab illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores eos expedita provident similique sunt iure. Iusto quasi ipsa impedit? Voluptates vel veniam animi ab excepturi sit. Doloremque, ad eum.</p>
		</div>
		<div class="item well">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, repellat, voluptas. Magnam sit non aut sint, ratione voluptates iusto dicta nisi! A nobis expedita nam distinctio natus nulla. Nisi, harum.</p>
		</div>
	</div>
</div>

<% include footer.ejs %>
</body>

</html>
